<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.test.java.mapper.MemberMapper">
	
	<insert id="add" parameterType="com.test.java.model.MemberDTO">
		insert into member (memberid, memberpw, membername, enabled, email, gender, regdate) values (#{memberid}, #{memberpw}, #{membername}, default, #{email}, #{gender}, default)
	</insert>
	
	<insert id="addAuth" parameterType="com.test.java.model.AuthDTO">
		insert into member_auth (memberid, auth) values (#{memberid}, #{auth})
	</insert>
	
	<resultMap type="com.test.java.model.AuthDTO" id="authMap">
		<id column="amemberid" property="memberid" />
		<result column="auth" property="auth" />
	</resultMap>
	
	<resultMap type="com.test.java.model.MemberDTO" id="memberMap">
		<id column="mmemberid" property="memberid" />
		<result column="memberpw" property="memberpw" />
		<result column="membername" property="membername" />
		<result column="enabled" property="enabled" />
		<result column="email" property="email" />
		<result column="gender" property="gender" />
		<result column="regdate" property="regdate" />
		<collection property="authList" resultMap="authMap"></collection>
	</resultMap>
	
	<select id="get" parameterType="String" resultMap="memberMap">
		select
			m.*,
			a.*,
			m.memberid as mmemberid,
			a.memberid as amemberid
		from member m
			inner join member_auth a
				on m.memberid = a.memberid
					where m.memberid = #{userid}
	</select>
	
</mapper>






