<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.test.simple.mapper.AddressMapper">
	
	<select id="get" parameterType="String" resultType="com.test.simple.model.AddressDTO">
		
		select * from tblAddress where seq = #{seq}
		
	</select>
	
</mapper>





